/* Contenitore - riga - colonna - content */
/* UTILITY */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}


.content{
    display: flex;
}
.container{
    max-width: 1200px;
}

.padding-section{
    padding-top: 50px;
}

.padding-bot{
    padding-bottom: 30px;
}

.margin-top{
    margin-top: 15px;
}
.padding-col{
    padding: 10px 40px 40px 40px ;
}

.margin-col{
    margin: 30px 0;

}
.container-sm{
    width: 991px;
}

.container-big{
    width: 100%;
}
.row{
    width: 100%;
    display: flex;
}

.col-20{
    width: 20%;
}

.col-30{
    width: 30%;
}

.col-33{
    width: 33%;
}

.col-50{
    width: 50%;
}

.col-70{
    width: 70%;
}

.col-100{
    width: 100%;
}

.col-16{
    width: 16%;
}

.invert{
    filter: invert(100%);
}

.margin-container{
    margin: 0 auto;
}

.blu-button{
    background-color: rgb(5, 72, 255);
    padding: 7px 10px;
    color: white;
    text-align: center;
    height: fit-content;
}

.right{
    justify-content: flex-end;
   
}

.align{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

h1{
    font-size: 60px;
    font-weight: 900;
    text-transform: uppercase;
}

h2{
    font-size: xx-large;
    font-weight: 900;
    text-transform: uppercase;
}

h3{
    text-transform: uppercase;
}
.border{
    border: solid 1px lightgrey;
}

li, hr{
    margin-top: 15px;
    list-style-type: none;
}


/* BG */
.bg-mag{
    background-color: rgb(158, 47, 47);
}

.bg-litemag{
    background-color: rgb(163, 28, 28);
}
.bg-red{
    background-color: red;
}
.bg-green{
    background-color: rgb(101, 199, 101);
}

.bg-cele{
    background-color: rgb(49, 126, 226);
}
.bg-blu{
    background-color: blue;
}

.bg-white{
    background-color: white;
}

.bg-azzur{
    background-color: rgb(167, 209, 247);
}

.bg-yellow{
    background-color: yellow;
}

.bg-grey{
    background-color: rgb(243, 248, 248);
}

.bg-black{
    background-color: black;
}
/* HEADER */
header{
    position: relative;
    margin: 10px;
}

.img-design{
    width: 50%;
}

.center-text{
    text-align: center;
}
.center-title{
    justify-content: center;
}

.margin-top0{
    margin-top: 0;
}
/* MAIN */

.position-img{
    position: absolute;
    top: 31%;
    left: 39%;
}

.position-button{
    position: absolute;
    bottom: -111%;
    left: 65%;
}

.height-px{
    height: 300px;
}

.jumbo-size{
    width: 830px;
    height: 470px;
}

.img-jumbo{
    width: 100%;
}

.space-bet{
  justify-content: space-around;
  display: flex;
}

.space-around{
    display: flex;
    justify-content: space-between;
}
.arrow{
    line-height: 4;
    font-size: xx-large;
}

.inline{
    display: inline-flex;
}

.white-button{
    background-color: rgb(255, 255, 255);
    padding: 7px 10px;
    text-align: center;
    border: solid 1px black;
    
}

.whiteTras-button{
    background-color: rgb(255, 255, 255);
    border: none;
    height: fit-content;
    padding: 5px 10px;
    color: rgba(0, 0, 0, 0.589);
    
    
}

.wrap{
    flex-wrap: wrap;
}

.quadrato{
    height: calc(100vw / 6);
    width: 50%;
}

.content-quad{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.line-middle{
    line-height: 2;
}


/* FOOTER */

footer{
    background-color: black;
    color: white;
}